.activity-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dqjbgrrmx/image/upload/v1716733772/Screenshot_2024-05-26_143643_seolfz.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
